#title  {
    border-color: black;
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    text-align: center;
}

#inscription {
    
    border-color: black;
    border-style: solid;
    margin: auto;
    text-align: center;
}

#connexion {
    
    text-align: center;
    border-color: black;
    border-style: solid;
    
}


