% load static %}
  <link rel="stylesheet" href="{% static '/blog/flux.css' %}">

{% for ticket in tickets %}

    <div id="tickets">
        {% if user_id == ticket.user_id %}
            <p class="demande_de_critique">Vous avez demandé une critique</p>
            <br>
            {% else %}
            <p>{{ticket.user.username}} a demandé une critique</p>
            <br>
            {% endif %}
            <p class="heure">{{ticket.time_created}}</p>
            <br>
            <p id="book_title">{{ticket.title}}</p>
            <br>
            <p id="description">{{ticket.description}}</p>
            <br>
            {% for review in reviews %}
                {% if review.ticket_associe_id == ticket.id and review.user_associe_id != user_id %}
                    <button class="bouton_creer_critique" onclick="window.location.href = '{% url 'creer-une-critique' ticket.id %}'";>Créer une critique</button>
                {% endif %}
                {% if review.ticket_associe_id == ticket.id %}}

            {% endfor %}
        {% endif %}
        </div>

    {% else %}
        <div id="review">
            {% if user_id == liste_infos.0 %}
            <p class="demande_de_critique">Vous avez publié une critique</p>
            <br>
            {% else %}
            <p>{{liste_infos.1}} a publié une critique</p>
            <br>
            {% endif %}
            <p class="heure">{{liste_infos.2}}</p>
            <br>
            <p id="book_title">{{liste_infos.3}}</p>
            <br>
            <p id="description">{{liste_infos.4}}</p>
            <br>
            <div id="tickets">
            {% if user_id == liste_infos.5 %}
                <p class="demande_de_critique">Vous avez publié une critique</p>
                <br>
                {% else %}
                <p>{{liste_infos.6}} a demandé une critique</p>
                <br>
                {% endif %}
                <p class="heure">{{liste_infos.7}}</p>
                <br>
                <p id="book_title">{{liste_infos.8}}</p>
                <br>
                <p id="description">{{liste_infos.9}}</p>
                <br>
                {% if not liste_infos.11 %}
                    <button class="bouton_creer_critique" onclick="window.location.href = '{% url 'creer-une-critique' liste_infos.10 %}'";>Créer une critique</button>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}