#title {
    text-align: center;
    font-size: revert;
    margin-right: auto;
    margin-left: auto;
    min-width: 1000px;
}

li {
    display: inline;
    font-size: large;

    }
a:hover {
    background-color: gold;
}
a:link {
    text-decoration:none
}

#liens {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    min-width: 1000px;
}



