<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Création de ticket</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
    <h1>Créer une critique</h1>
<div id="ticket_area">
    <h2>Vous êtes en train de poster en réponse à</h2>

    <div id="ticket">
        <p>Jean_5679 a demandé une critique</p>
        <p>The origin of species - Charles Darwin</p>
        <p>Je suis à la recherche d'un avis sur ce sujet, svp, merci !</p>
        <p>Image à ajouter ici</p>

    </div>
</div>

<div id="creation_critique"></div>
    <h1>Critique</h1>
    
    <form>
        <h2>Titre</h2>
        <input id="titre_form">
        
        <h2>Note</h2>
        <input type="checkbox" id="0" name="0_star">- 0
        <input type="checkbox" id="1" name="1_star">- 1
        <input type="checkbox" id="2" name="2_star">- 2
        <input type="checkbox" id="3" name="3_star">- 3
        <input type="checkbox" id="4" name="4_star">- 4
        <input type="checkbox" id="5" name="5_star">- 5

        <h2>Commentaire</h2>
        <input type="textarea">
        <br>
        <button id="bouton_envoyer">Envoyer</button>
    </form>
</div>   
</body>
</html>