<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
    {% if modif_review %}
    <title>modifier un ticket</title>
    {% else %}
    <title>créer un ticket</title>
    {% endif %}
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/creation_critique.css' %}">
</head>
<body>
{% if review_modifiee %}
    <h2> Ta review a été modifiée !</h2>
{% endif %}
{% if error %}
    <h2>Il y a eu un problème.</h2>
{% endif %}
{% if modif_review  and not review_modifiee %}
    <h2 style="text-align:center; margin-left:auto; margin-right:auto; min-width:1000px;">Modifier votre critique</h2>
{% endif %}
{% if ticket_doesnt_exist %}
    <h2>Le ticket n'existe pas.</h2>
{% else %}
{% if not review_modifiee %}
    <div id="reponse_critique">

      <h2>Vous êtes en train de poster en réponse à</h2>
      {% block content %}
      {% include 'blog/tickets.html' %}
      {% endblock %}
    </div>

    <div id="critique_div">
      <form id="critique_form" method="post" action="">
          {% csrf_token %}
        <h2>Critique</h2>

          <h2>{{ form.titre.label_tag}}</h2>
          <input type="text" name="titre" id="id_titre" value="{{review.headline}}">

        <h2>{{ form.commentaire.label_tag}}</h2>
          <textarea name="commentaire" cols="50" rows="5" maxlength="8192" id="id_commentaire">{{review.body}}
          </textarea>
          {% if review %}
            {% if review.rating == 0 %}
                <h2>Note</h2>
                <input type="radio" id="0" name="checkbox" value="0" readonly="readonly" checked> - 0
                <input type="radio" id="1" name="checkbox" value="1" readonly="readonly"> - 1
                <input type="radio" id="2" name="checkbox" value="2" readonly="readonly"> - 2
                <input type="radio" id="3" name="checkbox" value="3" readonly="readonly"> - 3
                <input type="radio" id="4" name="checkbox" value="4" readonly="readonly"> - 4
                <input type="radio" id="5" name="checkbox" value="5" readonly="readonly"> - 5
            <br>
            {% endif %}
            {% if review.rating == 1 %}
            <h2>Note</h2>
            <input type="radio" id="0" name="checkbox" value="0" readonly="readonly"> - 0
            <input type="radio" id="1" name="checkbox" value="1" readonly="readonly" checked> - 1
            <input type="radio" id="2" name="checkbox" value="2" readonly="readonly"> - 2
            <input type="radio" id="3" name="checkbox" value="3" readonly="readonly"> - 3
            <input type="radio" id="4" name="checkbox" value="4" readonly="readonly"> - 4
            <input type="radio" id="5" name="checkbox" value="5" readonly="readonly"> - 5
          <br>
          {% endif %}
          {% if review.rating == 2 %}
            <h2>Note</h2>
            <input type="radio" id="0" name="checkbox" value="0" readonly="readonly"> - 0
            <input type="radio" id="1" name="checkbox" value="1" readonly="readonly"> - 1
            <input type="radio" id="2" name="checkbox" value="2" readonly="readonly" checked> - 2
            <input type="radio" id="3" name="checkbox" value="3" readonly="readonly"> - 3
            <input type="radio" id="4" name="checkbox" value="4" readonly="readonly"> - 4
            <input type="radio" id="5" name="checkbox" value="5" readonly="readonly"> - 5
        <br>
          {% endif %}
          {% if review.rating == 3 %}
            <h2>Note</h2>
            <input type="radio" id="0" name="checkbox" value="0" readonly="readonly"> - 0
            <input type="radio" id="1" name="checkbox" value="1" readonly="readonly"> - 1
            <input type="radio" id="2" name="checkbox" value="2" readonly="readonly"> - 2
            <input type="radio" id="3" name="checkbox" value="3" readonly="readonly" checked> - 3
            <input type="radio" id="4" name="checkbox" value="4" readonly="readonly"> - 4
            <input type="radio" id="5" name="checkbox" value="5" readonly="readonly"> - 5
        <br>
          {% endif %}
          {% if review.rating == 4 %}
            <h2>Note</h2>
            <input type="radio" id="0" name="checkbox" value="0" readonly="readonly"> - 0
            <input type="radio" id="1" name="checkbox" value="1" readonly="readonly"> - 1
            <input type="radio" id="2" name="checkbox" value="2" readonly="readonly"> - 2
            <input type="radio" id="3" name="checkbox" value="3" readonly="readonly"> - 3
            <input type="radio" id="4" name="checkbox" value="4" readonly="readonly" checked> - 4
            <input type="radio" id="5" name="checkbox" value="5" readonly="readonly"> - 5
        <br>
          {% endif %}
          {% if review.rating == 5 %}
            <h2>Note</h2>
            <input type="radio" id="0" name="checkbox" value="0" readonly="readonly"> - 0
            <input type="radio" id="1" name="checkbox" value="1" readonly="readonly"> - 1
            <input type="radio" id="2" name="checkbox" value="2" readonly="readonly"> - 2
            <input type="radio" id="3" name="checkbox" value="3" readonly="readonly"> - 3
            <input type="radio" id="4" name="checkbox" value="4" readonly="readonly"> - 4
            <input type="radio" id="5" name="checkbox" value="5" readonly="readonly" checked> - 5
        <br>
          {% endif %}
          {% else %}
              <h2>Note</h2>
                <input type="radio" id="0" name="checkbox" value="0" readonly="readonly"> - 0
                <input type="radio" id="1" name="checkbox" value="1" readonly="readonly"> - 1
                <input type="radio" id="2" name="checkbox" value="2" readonly="readonly"> - 2
                <input type="radio" id="3" name="checkbox" value="3" readonly="readonly"> - 3
                <input type="radio" id="4" name="checkbox" value="4" readonly="readonly"> - 4
                <input type="radio" id="5" name="checkbox" value="5" readonly="readonly"> - 5
            <br>
          {% endif %}

        <input id="bouton_envoyer" type="submit" value="envoyer">
      </form>
    </div>
    {% endif %}
{% endif %}
</body>
</html>