<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Création de ticket</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
<div id="creation_ticket"></div>
    <h1>Créer un ticket</h1>
    
    <form>
        <h2>Titre</h2>
        <input id="titre_form">
        
        <h2>Description</h2>
        <input type="textarea">

        <h2>Image</h2>
        <button id="bouton_telecharger_fichier">Télécharger fichier</button>
        <button id="bouton_envoyer">Envoyer</button>
    </form>
</div>   
</body>
</html>