<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page de flux</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/flux.css' %}">
  <script src="script.js"></script>
</head>
<body>
    <button id="demander_une_critique" onclick="window.location.href = '/creer-un-ticket'";>Demander une critique</button>
    <button id="creer_une_critique">Créer une critique</button>

    {% block content %}
    {% include 'blog/review.html' %}
    {% include 'blog/tickets.html' %}
    {% include 'blog/vos_reviews.html' %}
    {% endblock %}
</body>
</html>