<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page d'inscription</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
    <div id="title">
        <h1>LITReview</h1>
    </div>

    <div id="formulaire_inscription">
        <h2>Inscrivez-vous</h2>
        <form id="form_connexion">
            <input type="text" placeholder="Nom d'utilisateur">
            <br>
            <input type="text" placeholder="Mot de passe">
            <br>
            <input type="text" placeholder="Comfirmer mot de passe">
            <br>
            <button id="bouton_retourner">Retourner</button>
            <button id="bouton_connexion">S'inscrire</button>

        </form>
    </div>
</body>
</html>