<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page d'inscription</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/blog/inscription.css' %}">
  <script src=""></script>
</head>
<body>
    <div id="title">
        <h1>LITReview</h1>
    </div>

    <div id="formulaire_inscription">
        <h2>Inscrivez-vous</h2>
        <form id="form_connexion">
            <input type="text" placeholder="Nom d'utilisateur">
            <br>
            <input type="text" placeholder="Mot de passe">
            <br>
            <input type="text" placeholder="Comfirmer mot de passe">
            <br>
        </form>
            <button id="bouton_retourner" onclick="window.location.href = '/connexion/'";>Retourner</button>
            <button id="bouton_connexion">S'inscrire</button>


    </div>
</body>
</html>