<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Abonnement</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
<div id="onglet_abonnement"></div>
    <h2>Suivre d'autres utilisateurs</h2>
    <input type="text" placeholder="Nom d'utilisateur" id="bouton_envoyer">
    <button>Envoyer</button>

    <h2>Abonnements</h2>
    <p>Creer comme un tableau avec à gauche les pseudos et à droite un bouton Désabonner</p>
    <p>Jean_5679</p>
    <button id="bouton_desabonner">Désabonner</button>

    <h2>Abonnés</h2>
    <p>Jean_5679</p>
</div>   
</body>
</html>