<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Réinitialisation du mot de passe</title>
    {% load static %}
  <link rel="stylesheet" href="{% static '/blog/style.css' %}">
  <script src="script.js"></script>
</head>
<body>
    <div id="title">
        <h1>LITReview</h1>
    </div>
<body>
<div id="div_form_passwd_oublie">
  <form method="post" action="">
    {% csrf_token %}
    <h2>Entre ton email afin qu'un email te parvienne pour changer ton mot de passe.</h2>
    <h2>{{form.label_tag}}</h2>
      {{form.email}}
    <br>
    <input type="submit" value="Valider">
    {% if message %}
      <br>
      <h2>{{message}}</h2>
    {% endif %}
  </form>
</div>
</body>
</html>