<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Vos posts</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/flux.css' %}">
<body>

{% if not tickets_reviews %}
    <h2 style="text-align:center; margin-left:auto; margin-right:auto; min-width:1000px;">Tu n'as toujours pas créé de ticket ou de critique.</h2>
{% endif %}

{% for q in tickets_reviews %}
    {% if q.headline %}
        <div id="review">
            <p class="demande_de_critique">Vous avez publié une critique</p>
            <br>
            <p class="heure">{{q.time_created}}</p>
            <br>
            {% if q.rating == 0 %}
            <p id="book_title">{{q.headline}} - ☆☆☆☆☆</p>
            {% endif %}
            {% if q.rating == 1 %}
            <p id="book_title">{{q.headline}} - ★☆☆☆☆</p>
            {% endif %}
            <br>
            {% if q.rating == 2 %}
            <p id="book_title">{{q.headline}} - ★★☆☆☆</p>
            {% endif %}
            {% if q.rating == 3 %}
            <p id="book_title">{{q.headline}} - ★★★☆☆</p>
            {% endif %}
            {% if q.rating == 4 %}
            <p id="book_title">{{q.headline}} - ★★★★☆</p>
            {% endif %}
            {% if q.rating == 5 %}
            <p id="book_title">{{q.headline}} - ★★★★★</p>
            {% endif %}
            <p id="description">{{q.body}}</p>
            <br>
            {% for ticket in tickets_associated_to_reviews %}
                {% if ticket.id == q.ticket_associe_id %}
                    <div class="ticket_on_our_flux_page">
                        {% if user_id == ticket.user.id %}
                        <p class="demande_de_critique">Vous avez publié une critique</p>
                        <br>
                        {% else %}
                        <p>{{ticket.user.username}} a demandé une critique</p>
                        <br>
                        {% endif %}
                        <p class="heure">{{ticket.time_created}}</p>
                        <br>
                        <p id="book_title">{{ticket.title}}</p>
                        <br>
                        <p id="description">{{ticket.description}}</p>
                        <br>
                    </div>
                {% endif %}
            {% endfor %}
            <div id="bouton_div">
                <button class="button" onclick="window.location.href = '/supprimer-review/{{q.id}}'";>Supprimer</button>
            <button class="button" onclick="window.location.href = '/modifier-review/{{q.id}}'";>Modifier</button>
            </div>
        </div>
    {% else %}
        <div id="tickets">
            <p class="demande_de_critique">Vous avez demandé une critique</p>
            <br>
            <p class="heure">{{q.time_created}}</p>
            <br>
            <p id="book_title">{{q.title}}</p>
            <br>
            <p id="description">{{q.description}}</p>
            <br>
            <button class="button" onclick="window.location.href = '/supprimer-ticket/{{q.id}}'";>Supprimer</button>
        <button class="button" onclick="window.location.href = '/modifier-ticket/{{q.id}}'";>Modifier</button>
        </div>
    {% endif %}
{% endfor %}
</body>
</html>