<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page de flux</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/flux.css' %}">
</head>
<body>
<br>
<div id="boutons" style="text-align: center; min-width: 1000px;">
<button class="bouton" id="demander_une_critique" onclick="window.location.href = '/creer-un-ticket'";>Demander une critique</button>
    <button class="bouton" id="creer_une_critique" onclick="window.location.href = '/creer-ticket-et-critique'";>Créer une critique</button>
</div>

{% if not tickets_reviews %}
    <h2 style="text_align:center; min-width: 1000px; margin-left: auto; margin-right: auto;"
    >Aucun ticket ou critique n'a été trouvé.</h2>
{% endif %}

{% for q in tickets_reviews %}
    {% if q.headline %}
        <div id="review">
            {% if user_id == q.user_associe_id %}
            <p class="demande_de_critique">Vous avez publié une critique</p>
            <br>
            {% else %}
            <p>{{q.user_associe.username}} a publié une critique</p>
            <br>
            {% endif %}
            <p class="heure">{{q.time_created}}</p>
            <br>
            {% if q.rating == 0 %}
            <p id="book_title">{{q.headline}} - ☆☆☆☆☆</p>
            {% endif %}
            {% if q.rating == 1 %}
            <p id="book_title">{{q.headline}} - ★☆☆☆☆</p>
            {% endif %}
            <br>
            {% if q.rating == 2 %}
            <p id="book_title">{{q.headline}} - ★★☆☆☆</p>
            {% endif %}
            {% if q.rating == 3 %}
            <p id="book_title">{{q.headline}} - ★★★☆☆</p>
            {% endif %}
            {% if q.rating == 4 %}
            <p id="book_title">{{q.headline}} - ★★★★☆</p>
            {% endif %}
            {% if q.rating == 5 %}
            <p id="book_title">{{q.headline}} - ★★★★★</p>
            {% endif %}
            <p id="description">{{q.body}}</p>
            <br>
            {% for ticket in tickets %}
                {% if ticket.id == q.ticket_associe_id %}
                    <div class="ticket_review_miniature">
                        {% if user_id == ticket.user.id %}
                        <p class="demande_de_critique">Vous avez publié une critique</p>
                        <br>
                        {% else %}
                        <p>{{ticket.user.username}} a demandé une critique</p>
                        <br>
                        {% endif %}
                        <p class="heure">{{ticket.time_created}}</p>
                        <br>
                        <p id="book_title">{{ticket.title}}</p>
                        <br>
                        <p id="description" class="description">{{ticket.description}}</p>
                        <br>
                        {% if q.ticket_associe_id not in tickets_already_commented %}
                            <button class="button" onclick="window.location.href = '{% url 'creer-une-critique' ticket.id %}'";>Créer une critique</button>
                        {% endif %}
                    </div>
        </div>
                {% endif %}
            {% endfor %}
    {% else %}
        <div id="tickets">
            {% if user_id == q.user_id %}
                <p class="demande_de_critique">Vous avez demandé une critique</p>
                <br>
                {% else %}
                <p>{{q.user.username}} a demandé une critique</p>
                <br>
                {% endif %}
                <p class="heure">{{q.time_created}}</p>
                <br>
                <p id="book_title">{{q.title}}</p>
                <br>
                <p id="description" class="description">{{q.description}}</p>
                <br>
                {% if q.id not in tickets_already_commented %}
                    <button class="button" onclick="window.location.href = '{% url 'creer-une-critique' q.id %}'";>Créer une critique</button>
                {% endif %}

                {% for review in reviews  %}
                    {% if review.ticket_associe_id == q.id %}
                         <div class="ticket_review_miniature">
                            {% if user_id == review.user_associe_id %}
                            <p class="demande_de_critique">Vous avez publié une critique</p>
                            <br>
                            {% else %}
                            <p>{{review.user_associe.username}} a publié une critique</p>
                            <br>
                            {% endif %}
                            <p class="heure">{{review.time_created}}</p>
                            <br>
                             {% if review.rating == 0 %}
                            <p id="book_title">{{review.headline}} - ☆☆☆☆☆</p>
                             {% endif %}
                            {% if review.rating == 1 %}
                            <p id="book_title">{{review.headline}} - ★☆☆☆☆</p>
                             {% endif %}
                            <br>
                            {% if review.rating == 2 %}
                            <p id="book_title">{{review.headline}} - ★★☆☆☆</p>
                             {% endif %}
                            {% if review.rating == 3 %}
                            <p id="book_title">{{review.headline}} - ★★★☆☆</p>
                             {% endif %}
                            {% if review.rating == 4 %}
                            <p id="book_title">{{review.headline}} - ★★★★☆</p>
                             {% endif %}
                            {% if review.rating == 5 %}
                            <p id="book_title">{{review.headline}} - ★★★★★</p>
                            {% endif %}
                            <br>
                            <p id="description" class="description">{{review.body}}</p>
                            <br>
                         </div>
                    {% endif %}
                {% endfor %}
            </div>
    {% endif %}
{% endfor %}
</body>
</html>