{% load static %}
  <link rel="stylesheet" href="{% static '/blog/flux.css' %}">
<div id="review">
    <p id="publication_de_review">Vous avez publié une critique</p>
    <br>
    <p id="heure">20h15, 22 juillet 2022</p>
    <br>
    <p id="title_review_and_note">Incroyable - * * * * *</p>
    <br>
    <p id="commentaire">Ce livre est incroyable, je le recommande fortement!</p>
    <br>

    (Mettre le ticket ici grâce à la commande include)
    {% block content %}
    {% include 'blog/tickets.html' %}
    {% endblock %}
</div>