<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Abonnement</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
    {% load static %}
  <link rel="stylesheet" href="{% static '/blog/vos_posts.css' %}">
  <script src="script.js"></script>
</head>
<body>
<div id="votre_critique">
    {% block content %}
    {% include 'blog/vos_reviews.html' %}
    {% endblock %}
    <form>
        <input type="button" id="bouton_modifier" value="Modifier">
        <input type="button" id="bouton_supprimer" value="Supprimer">
    </form>
</div>

<div id="votre_ticket">
    {% block my_ticket %}
    {% include 'blog/vos_ticket.html' %}
    {% include 'blog/fenetre_modale_suppresion_ticket.html' %}
    {% endblock %}
</div>

</body>
</html>