<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Abonnement</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
    {% load static %}
  <link rel="stylesheet" href="{% static '/blog/onglet_abonnement.css' %}">
  <script src="script.js"></script>
</head>
<body>
<div id="formulaire_modif_ticket">

    <h2>Modifier votre ticket</h2>

    <form>
        <h2><label for="book_title">Titre</label></h2>
        <input id="book_title" type="text" placeholder="La relativité - Albert Einstein">

        <h2><label for="ticket_description">Description</label></h2>
        <input type="text" id="ticket_description">

        <h2>Image</h2>
        <p id="book_image">L'image doit être ici</p>

        <input type="file" id="file">
        <br>
        <input type="button" id="bouton_envoyer" value="Envoyer">
    </form>
</div>
</body>
</html>