<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Abonnement</title>
    {% block header %}
    {% include 'blog/barre_de_navigation.html' %}
    {% endblock %}
    {% load static %}
  <link rel="stylesheet" href="{% static '/blog/onglet_abonnement.css' %}">
  <script src="script.js"></script>
</head>
<body>
<div id="onglet_abonnement"></div>
    <h2>Suivre d'autres utilisateurs</h2>
    <input type="text" placeholder="Nom d'utilisateur" id="bouton_envoyer">
    <button>Envoyer</button>
</div>

{% block content %}
{% include 'blog/abonnements.html' %}
{% include 'blog/abonnés.html' %}
{% endblock %}


</body>
</html>