#tickets, #review, #reponse_critique, #critique_div {
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 1000px;
    width: 500px
}
#creer_une_critique_livre_article {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 1000px;
    width: 500px
}
button, h1, h2 {
    text-align: center;
}

input[type="text"], #id_password  {
    width: 500px;
    height: 25px;
    margin-bottom: 15px;
    overflow: hidden;
}

.heure {
      position: relative;
      float: right;
      top: -50px;
      right: 30px;
      font-size: small;
}

.button {
    text-align: center;
    position: relative;
    float: right;
    bottom: 50px;
    right: 30px;
    width: 200px;
    height: 40px;
    }

button {
    width: 200px;
    height: 40px;
}

button:hover {
        transform: scale(1.2);
    }

.ticket_on_our_flux_page, .ticket_review_miniature {
    border-color: black;
    border-style: solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px;
}

#id_description, #id_body {
    width: 500px;
}