#title  {
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    min-width: 1000px;
    width: 500px;
}

#form_connexion {
    text-align: center;
}

#formulaire_inscription {
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    min-width: 1000px;
    width: 500px;
}

input[type="text"], input[type="email"], #id_password, #id_password2  {
    width: 500px;
    height: 25px;
    margin-bottom: 25px;
}

button, input[type="submit"] {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
}
