#title  {
    border-color: black;
    border-style: solid;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    margin-bottom: 10px;
}

#form_connexion {
    text-align: center;
}


#formulaire_inscription, #bouton_retourner {
    text-align: center;
}

input[type="text"], input[type="email"]  {
    width: 500px;
    height: 25px;
    margin-bottom: 25px;
}

