#title  {
    border-color: black;
    border-style: solid;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:25px;
    min-width: 1000px;
}

h1 {
    text-align: center;
    margin: auto;
    min-width: 1000px;
}

#inscription, #div_form_passwd_oublie {
    
    border-color: black;
    border-style: solid;
    margin: auto;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:25px;
    min-width: 1000px;
}

#connexion {
    border-color: black;
    border-style: solid;
    margin: auto;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 1000px;
    overflow: hidden;
}

input[type="text"], input[type="password"], input[type="email"]  {
    width: 500px;
    height: 25px;
    margin-bottom: 15px;
    overflow: hidden;
}

#message_erreur {
    text-align: center;
}
h2 {
    text-align: center;
    min-width: 1000px;
    margin: auto;
}

#form_modif_ticket {
    border-color: black;
    border-style: solid;
    margin: auto;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 1000px;
    overflow: hidden;
}

button, input[type="submit"] {
    width: 200px;
    height: 40px;
}
